html {
  // background-color: rgba(53, 150, 53, 0.407);
  background-image: url('./img/nocheBuena.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 

  background-color: black;

  width: 100%;
  height: 100%;
  margin: 0;
  // border: 1px solid red;
}

.title {
  text-align: center;
  color: yellow;
}

.name-holder {
  background-color: white;
  text-align: center;
  padding: 7px;
  margin: 5px;
  width: 10vw;

  h3 {
    // width: 10vw;
  }
}
